<body>
    <div class="table-title">
        <h3>Alumnos</h3>
    </div>
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">ID</th>
                <th class="text-left">Nombre</th>
                <th class="text-left">Apellidos</th>
                <th class="text-left">Direccion</th>
                <th class="text-left">Email</th>
                <th class="text-left">Celular</th>
                <th class="text-left">Telefono</th>
                <th class="text-left">Fecha Nac</th>
                <th class="text-left">Sexo</th>
                <th class="text-left">Escolaridad</th>
                <th class="text-left">Hrs Terapia</th>
                <th class="text-left">Cuota</th>
            </tr>
        </thead>
        <tbody class="table-hover">
        
        </tbody>
    </table>
</body>