<div ng-controller="alumnosEditarController">
    <h2>Perfil de Usuario</h2>
    <form ng-submit="updateAlumno()">
    <div class="form-group">
        <label>Nombre:</label>
        <input type="text" name="nombre" ng-model="alumno.nombre" >
    </div>
    <div class="form-group">
        <label>Apellidos:</label>
        <input type="text" name="apellidos" ng-model="alumno.apellidos">
    </div>
    <div class="form-group">
        <label>Direccion:</label>
        <input type="text"  name="direccion" ng-model="alumno.direccion">
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input type="text"  name="email" ng-model="alumno.email" >
    </div>
    <div class="form-group">
        <label>Celular:</label>
        <input type="text"  name="celular" ng-model="alumno.celular" >
    </div>
    <div class="form-group">
        <label>Telefono:</label>
        <input type="text"  name="telefono" ng-model="alumno.telefono" >
    </div>
    <div class="form-group">
        <label>Fecha de Nacimiento:</label>
        <input type="text"  name="nacimiento" ng-model="alumno.fechaNac" >
    </div>
    <div class="form-group">
        <label>Sexo:</label>
        <select name="selectSexo" ng-model="alumno.sexo" ng-model="alumno.sexo" >
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
        </select>
    </div>
    <div class="form-group">
        <label>Escolaridad:</label>
        <select name="escolaridad" ng-model="alumno.escolaridad">
            <option value="Bachillerato">Bachillerato</option>
            <option value="Universidad">Universidad</option>
            <option value="Maestria">Maestria</option>
            <option value="Doctorado">Doctorado</option>
            <option value="Otra">Otra</option>
        </select>
    </div>
    <div class="form-group">
        <label>Referencias:</label>
        <input type="text"  name="refs" ng-model="alumno.referencias" >
    </div>
    <div class="form-group">
        <label>Horas de Terapia:</label>
        <input type="text"  name="terapia" ng-model="alumno.hrsTerapia" >
    </div>
    <div class="form-group">
        <label>Cuota:</label>
        <input type="text"  name="cuota" ng-model="alumno.cuota" >
    </div>
    <button type="submit" class="btn btn-default">Actualizar</button>
    <a class="btn btn-danger" ng-click="goBack()">Cancelar</a>
    </form>
</div>