<body>
    <div class="table-title">
        <h3>Alumnos</h3>
    </div>
    <table class="table-fill" ng-controller = "alumnosController">
        <thead>
            <tr>
                <th class="text-left">ID</th>
                <th class="text-left">Nombre</th>
                <th class="text-left">Apellidos</th>
                <th class="text-left">Direccion</th>
                <th class="text-left">Email</th>
                <th class="text-left">Celular</th>
                <th class="text-left">Telefono</th>
                <th class="text-left">Fecha Nac</th>
                <th class="text-left">Sexo</th>
                <th class="text-left">Escolaridad</th>
                <th class="text-left">Hrs Terapia</th>
                <th class="text-left">Cuota</th>
            </tr>
        </thead>
        <tbody class="table-hover" ng-repeat="alumno in alumnos">
            <tr>
                <td class="text-left">{{alumno.id}}</td>
                <td class="text-left">{{alumno.nombre}}</td>
                <td class="text-left">{{alumno.apellidos}}</td>
                <td class="text-left">{{alumno.direccion}}</td>
                <td class="text-left">{{alumno.email}}</td>
                <td class="text-left">{{alumno.celular}}</td>
                <td class="text-left">{{alumno.telefono}}</td>
                <td class="text-left">{{alumno.fechaNac}}</td>
                <td class="text-left">{{alumno.sexo}}</td>
                <td class="text-left">{{alumno.escolaridad}}</td>
                <td class="text-left">{{alumno.hrsTerapia}}</td>
                <td class="text-left">{{alumno.cuota}}</td>
            </tr>
        </tbody>
    </table>
</body>