<div ng-controller="initCursoController">
    <h2>Iniciar Curso</h2>
    <form ng-submit="initCurso()">
    <div class="form-group">
        <label>Inicio:</label>
        <input type="text" name="inicio" ng-model="inicio" placeholder="AAAA-MM-DD" >
    </div>
    <div class="form-group">
        <label>Fin:</label>
        <input type="text" name="fin" ng-model="fin" placeholder="AAAA-MM-DD">
    </div>
    <div class="form-group">
        <label>Curso:</label>
        <select ng-model="curso" name="Curso">
            <option ng-repeat="curso in cursos" value="{{curso.id}}">{{curso.nombre}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Maestro:</label>
        <select ng-model="maestro" name="maestro">
            <option ng-repeat="maestro in maestros" value="{{maestro.id}}">{{maestro.nombre}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Ingresar</button>
    <a class="btn btn-danger" href="#/init/cursos">Cancelar</a>
    </form>
</div>