<body>
    <div class="table-title">
        <h3>Talleres Desarrollo Humano</h3>
    </div>
    <div class="bs-component" ng-controller="talleresDHController">
        <form class="form-inline">
            <div class="form-group">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
        <table class="table table-striped table-hover">
            <thead>
                <th ng-click="sort('id')">ID
                    <span ng-show="sortKey=='id'" ng-class="{'fa fa-sort-desc':reverse,'fa fa-sort-asc':!reverse}"></span>
                </th>
                <th ng-click="sort('nombre')">Nombre
                    <span ng-show="sortKey=='nombre'" ng-class="{'fa fa-sort-desc':reverse,'fa fa-sort-asc':!reverse}"></span>
                </th>
                <th ng-click="sort('costo')">Costo
                    <span ng-show="sortKey=='costo'" ng-class="{'fa fa-sort-desc':reverse,'fa fa-sort-asc':!reverse}"></span>
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="taller in talleres|startFrom:(currentPage -1)*pageSize|limitTo:pageSize|orderBy:sortKey:reverse|filter:search" ng-dblclick="getTaller(taller)">
                    <td>{{taller.id}}</td>
                    <td>{{taller.nombre}}</td>
                    <td>{{taller.costo}}</td>
                </tr>
            </tbody>
        </table>
        <!--
        <uib-pagination
            total-items="alumnos.length"
            max-size="5"
            items-per-page="itemsPerPage"
            ng-model="currentPage"
            class="pagination-sm">
        </uib-pagination>
        -->
    </div>
</body>